
.row{
  width:90%;
  margin:0 auto;
}
/* BURGER TYPES SECTION*/
.burgerTypes{
  background: #292826;
  color:#F7E77D;
  padding:.3rem 0;
}
.burgerTypes__all_burgers{
  display: grid;
  grid-template-columns: repeat(auto-fit,6rem);
  grid-auto-rows: 6rem;
  grid-gap:2.5rem;
}
.burgerTypes__burger{
  width:100%;
  height:100%;
  position: relative;
}
.burgerTypes__burgerImage{
  width:100%;
  height:70%;
  transition: all .3s;
  padding-left:.5rem;
}
.burgerTypes__burgerImage:hover{
  transform: scale(1.09);
}
.burgerTypes__burgerName{
  padding:0;
  margin: 0;
  font-size:.9rem;
  font-weight: 600;
  white-space: nowrap;
}

@media only screen and (max-width:530px) {
  .burgerTypes__all_burgers{
    grid-template-columns: repeat(auto-fit,5rem);
    grid-auto-rows: 5rem;
    grid-gap:1rem;
  }
  .burgerTypes__burgerName{
    font-size: .7rem;
  }
}
