.container{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  justify-content: center;
  background: rgba(0, 0, 0, 0.849);
  height:29rem;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 0px rgba(117, 113, 113, 0.849),8px 8px 5px rgb(236, 230, 230);
}
.button{
  width:20rem;
  display:block;
  border:none;
  transition: all .3s;
  padding:.8rem;
  border-radius:5px;
  position: relative;
  
}

.facebook{
  background: #3C5A99;
  color:white;
}
.google{
  background: red;
  color:white;
  margin-bottom: 1.5rem;
}
.fb_icon{
  font-size: 2rem;
  left:1rem;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}
.google_icon{
  font-size: 2rem;
  left:1rem;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}
.textFacebook{
  font-size: 1.2rem;
  letter-spacing: .02cm;
}
.textGoogle{
  font-size: 1.2rem;
  letter-spacing: .02cm;
}
.button:hover{
  background:#EAF0F1;
  cursor: pointer;
}
.button:hover .fb_icon{
  color:#3C5A99;
}
.button:hover .google_icon{
  color:red;
}
.button:hover .textFacebook{
  color:#3C5A99;
}
.button:hover .textGoogle{
  color:red;
}
.or{
  display:grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  grid-gap:.7rem;
  color:white;
  padding:.7rem;
}
.or::before{
  content: "";
  background-image: linear-gradient(to left,white,transparent);
  height:1px;
  display: grid;
  align-items: end;
}
.or::after{
  content: "";
  height:1px;
  background-image: linear-gradient(to right,white,transparent);
  height:1px;
  display: grid;
  align-items: end;
}
.emailHandler{
  background: rgb(143, 143, 143);
  border:none;
  transition: all .3s;
  padding:.5rem;
  border-radius:5px;
  font-size: 1rem;
  color:white;
  margin-bottom: 3rem;
}
.emailHandler:hover{
  background:white;
  color:black;
  cursor: pointer;
}

.inputContainer{
  display: grid;
  justify-items: start;
}
.inputContainer:first-child{
  margin-bottom:1.2rem;
}
.inputContainer input{
  width:100%;
  display: block;
  padding:1rem;
  border:1px solid black;
  transition: all .3s;
  font-size: 1.1rem;
  border-radius: 5px;
  margin-bottom: 0;
}
.inputContainer input:focus{
  border:1px solid rgb(255, 34, 34);
}
.inputContainer >label{
  position:relative;
  transform: translateY(-100%);
  opacity: 0;
  transition: all .3s;
  font-weight: 700;
  color:white;
}
.inputContainer input:not(:placeholder-shown)+label{
  opacity:1;
  transform: translateY(-390%);
}
.inputContainer input:not(:placeholder-shown){
  border:1px solid white;
}
.signUpBtn{
  background: #45CE30;
  border:none;
  transition: all .3s;
  padding:.7rem;
  border-radius:5px;
  font-size: 1rem;
  color:white;
  margin-bottom: 2rem;
  width:100%;
}

.signUpBtn:hover{
  background: rgb(14, 172, 14);
  cursor: pointer;
}
.errMsg{
  display: grid;
  justify-items: center;
  align-items: end;
  color:red;
}
.signinLink{
  text-decoration: none;
  margin-left: 5px;
  color:#bbf1f5;

}
.signinLink:hover{
  color:rgb(253, 80, 80);
}
@media only screen and (max-width:412px) {
  .container{
    padding:2rem .5rem 2rem .5rem;
  }
}